<% include partials/header %>


<div >
    <div class="container iconcollection">
      <div class="row ">
        
            <div class=" homeicon jumbotron">
              <a class="atag homeicon " href="/devices">
              <h4>Devices</h4> 
              </a>
            </div>
            
        <div class=" homeicon jumbotron">
          <a class=" atag homeicon " href="/users">
          <h4>Users</h4> 
          </a>
        </div>
        <div class="  homeicon jumbotron">
          <h4>Others</h4> 
        </div>
      </div>
    </div>
</div>

<% include partials/header %>