<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Picker Devices</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<script src="gallery.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	
<nav class="navbar navbar-light bg-light fixed-top">
<a class="navbar-brand" href="/">Device Records</a>

    
<div >  
    <ul class="nav navbar-expand-sm  nav-pills navbar-right">
        <li class="nav item">
            <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav item">
            <a class="nav-link" href="#">Sign In</a>
        </li>
            <li class="nav item">
            <a class="nav-link" href="#">LogOut</a>
        </li>
    </ul>
</div> 


</nav>


<div class="container ">
